*{
  background-color: #071026;
}
.App {
  margin-top: 10%;
  text-align: center;
  color:blanchedalmond;
}

.clicks{
  font-size: 30px;
}

.btn{
  background-color: #A20750;
  color:blanchedalmond;
  height: 30px;
  border-radius: 12px;
  margin-right: 10px;
}
